---
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
    </head>
    <body>
        <div>        
            <a href="/" aria-label="Back to home" title="Go to Home">Back to Home</a>
            <a href="/about" aria-label="About section" title="Go to About">About</a>
            <a href="/blog" aria-label="My Blog section" title="Go to My Blog">My Blog</a>
        </div>
        <slot/>
    </body>
</html>
<style>
    body {
        background-color: #FFCC00;
        color: black
    }
</style>